<% disable_turbolinks! %>
<% javascript 'webtest' %>

<div class="row">
  <h3>
    Tests Overview
    <!--subnav-->
      <span class="btn-group btn-group-sm pull-right">
        <%= link_to raw('<span class="fa fa-plus"></span> ' + t('om.views.test_plan.index.new_test_plan')),
                    new_test_plan_path, :class => 'btn btn-default' %>
        <%= link_to raw('<span class="fa fa-plus"></span> ' + t('om.views.test_plan.index.new_test_case')),
                    new_test_case_path, :class => 'btn btn-default' %>
      </span>
  </h3>
</div>

<div class="row">

 <div class="col-md-8">

    <h4 class="spacer">Active Test Plans</h4>
    <%= raw htmltable_for @test_plans, { :actions => { :run => true, :show => true} } %>
    <br>


    </div>

    <div class="col-md-4">
      <%= render partial: 'shared/recent_test_executions' %>

    </div>
</div>



