
<div class="list-group running_service">
  <a href="<%= url_for :controller => 'systems', :action => 'show', :id => systems_running_service.system.id %>" class="list-group-item">
    <h5 class="list-group-item-heading">
      <%= badge_label systems_running_service.system, {:label_class => 'primary'} %>
    </h5>
    <p class="list-group-item-text">
      <% if systems_running_service.service.fqdn %>
          <strong>FQDN: </strong><%= systems_running_service.service.fqdn %>
      <% end %>
      <% if systems_running_service.service.description %>
        <strong>Description: </strong><%= systems_running_service.description %>
      <% end %>
    </p>
  </a>
</div>