<h3>
    <%= raw t('om.views.service.index.title') %>
    <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> ' + t("om.views.service.index.new_service")),
            new_service_path, :class => "btn btn-primary pull-right" %>
    <small>all</small>
</h3>


<%= raw htmltable_for @services, {:html_class => "spacer", :threat_as => "service", :actions => {:show => true}} %>

