<h3>Create Service</h3>


<%= raw htmlform_for @service, {:html_class => 'spacer', :within_tab => false,
                               :caption => t('om.views.service.new.html_input.caption'),
                               :submit_text => t('om.views.service.new.html_input.submit_text')
}
%>
