<% content_for :page_header do %>
    <h3>
      <%= badge_label @service, {:label_class => 'primary'} %>
    </h3>
<% end %>

<div class="row">

  <!-- left column -->
  <div class="col-md-6">
    <p><blockquote><%=@service.description%></blockquote></p>
  </div>

  <!-- right column -->
  <div class="col-md-6">
    <h3>Systems running this Service</h3>
    <%= render :partial => 'systems_running_service', :collection => @service.systems_running_service %>

  </div>

</div>






