<!-- Nav tabs -->
<ul class="nav nav-tabs" id="user_edit_tab">
  <li class="active"><a href="#profile" data-toggle="tab">Profile Settings</a></li>
  <li><a href="#authentication" data-toggle="tab">Authentication</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane active" id="profile">
    <%= raw htmlform_for resource, { :html_class => 'spacer', :within_tab => true,
                                    :only => [:username, :email],
                                    :help_text => {:email => 'We use email for notifications and avatar detection if no avatar is uploaded.',
                                                   :username => 'Enter your name, so people you know can recognize you.'}

    }
    %>

  </div>

  <div class="tab-pane" id="authentication">

    <div class="panel panel-default spacer">
      <div class="panel-heading">Change Password</div>
      <div class="panel-body">
        <%= raw htmlform_for resource, { :html_class => 'spacer', :within_tab => true, :action => 'update_password',
                                    :only => [:password, :password_confirmation],
                                    :help_text => {:password_confirmation => 'We need your current password to confirm your changes.',
                                                   }

        }
        %>
      </div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">Delete profile</div>
      <div class="panel-body">
        <p>Delete this profile and all associated
          data. <%= button_to "Delete", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>
      </div>
    </div>
  </div>


</div>


<!-- make tabs clickable and store location -->
<script>
    $('#user_edit_tab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // store the currently selected tab in the window location hash
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var tab_name = $(e.target).attr("href").substr(1);
        window.location.hash = tab_name;
    });

    // on load of the page: switch to the currently selected tab
    var anchor = window.location.hash;
    $('#user_edit_tab a[href="' + anchor + '"]').tab('show');
</script>
