<script type="text/javascript">

</script>

<form action="/search/search" method="get" class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" name="q" autocomplete="off" class="form-control" id="main-search" placeholder="Type to find something..." value="<%= yield :search %>">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<div id="ajax_search_result" style="display: none"></div>