<h1>Admin Area</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Sidekiq Background Processor</h1>
  </div>
  <div class="panel-body">
    <p>Click <%= link_to "here", '/sidekiq', :target => :blank %> to open sidekiq UI in full size.</p>
    <iframe src="/sidekiq" width="100%" height="460">
    </iframe>
  </div>

</div>


