<h3>Admin Area</h3>

<h4 class="spacer">Environment Variables</h4>
<% unless @om_env_vars.empty? %>
    <% @om_env_vars.each_pair do |name, value| %>
        <%= name %>: <%= value %><br>
    <% end %>
<% else %>
    No Openmetrics environment variables found. That's bad! <span class="fa fa-meh-o"></span>
<% end %>


<h4 class="spacer">Sidekiq Background Processor</h4>
<div class="panel panel-default">

  <div class="panel-body">
    <p>Click <%= link_to "here", '/sidekiq', :target => :blank %> to open sidekiq UI in full size.</p>
    <iframe src="/sidekiq" width="100%" height="460">
    </iframe>
  </div>

</div>


