<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Howdy <%= current_user.username %>, welcome <%= 'back' if current_user.sign_in_count >= 1 %>!</h3>

    <div class="panel panel-default spacer">
      <div id="container_for_search_input" class="panel-body"></div>
    </div>


    <h4 class="spacer">Recent Events</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @recent_events.any? %>
            <%= render 'shared/activities', events: @recent_events %>
        <% else %>
            Apparently, there aren't any notable Events yet.
        <% end %>
      </div>
    </div>
  </div>
</div>