<h3>Hallo! <small>auf WelcomePageController::display</small></h3>
<!--<p>Hier gibt es noch nicht so viel zu sehen <span class="fa fa-bug"></span></p>-->

<h4 class="spacer">Recent Events</h4>
<%= render 'shared/activities', events: @recent_events %>