<h3>Hallo! <small>auf WelcomePageController::display</small></h3>
<p>Hier gibt es noch nicht so viel zu sehen <span class="fa fa-bug"></span></p>
<p>Aber schau doch mal bei den <%= link_to "Webtests", webtests_path %> oder <%= link_to "Systemen", systems_path %> vorbei.</p>