  <div class="list-group">
    <% users.each do |user| %>
        <a href="<%= url_for :controller => 'users', :action => 'show', :id => user.id %>" class="list-group-item">
          <%= gravatar_image_tag(user.email, :class => "gravatar list-group-item-text", :gravatar => {:size => 32}) %>
          <strong><%= user.username %></strong>
        </a>
    <% end %>
  </div>