<div class="openmetrics-banner">
<a href="<%= url_for root_path %>">
  ▄▀▄ █▀▄ █▀▀ █▄░█ █▄░▄█ █▀▀ ▀█▀ █▀▀▄ ▀ ▄▀ ▄▀▀<br>
  █░█ █░█ █▀▀ █░▀█ █░█░█ █▀▀ ░█░ █▐█▀ █ █░ ░▀▄<br>
  ░▀░ █▀░ ▀▀▀ ▀░░▀ ▀░░░▀ ▀▀▀ ░▀░ ▀░▀▀ ▀ ░▀ ▀▀░<br>
</a>
</div>