<% if item.quality_criteria.any? %>
    <%#= item.inspect %>
    <% item.quality_criteria.each do |criterion| %>

        <% q = item.quality.where(quality_criterion_id: criterion.id) %>
        <% if q.any? %>
            <% q.each do |q| %>
                <% criterion = q.quality_criterion %>
                <% if q %>
                    <% if q.status == 0 %>
                        <span class="fa fa-check-square-o text-success"></span>
                    <% end %>
                    <% if q.status == 5 %>
                        <span class="fa fa-exclamation-circle text-warning"></span>
                    <% end %>
                    <% if q.status == 10 %>
                        <span class="fa fa-exclamation-triangle text-danger"></span>
                    <% end %>
                <% end %>
                <% if criterion %>
                    <strong><%= criterion.attr %></strong> shall be
                    <strong><%= criterion.operator %></strong>
                    <strong><%= criterion.value %></strong>
                <% end %>
                <% if q and q.message %>
                <i title="<%= q.message %>" class="fa fa-info-circle"></i>
                <% end %>
                <br>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    None
<% end %>