<% unless test_executions.empty? %>
    <h4 class="spacer">Recent Test Executions</h4>
    <ul class="fa-ul">
      <% test_executions.each do |te| %>
          <li>
            <% if te.test_execution_result.exitstatus == 0 %>
              <i class="fa fa-smile-o"></i>
            <% else %>
              <i class="fa fa-frown-o"></i>
            <% end %>
            <% anchor = te.status == 40 ? 'finished' : nil %>
            <%= link_to("#{te.test_plan.name} executed at #{I18n.localize(te.created_at, :format => :short)}", test_execution_path(te, anchor: anchor)) %>
          </li>
      <% end %>
    </ul>
    <%= link_to "Show all Test Executions", test_executions_path %>
<% else %>
    <h4 class="spacer">Recent Test Executions</h4>
        Not yet executed.
<% end %>
