<% unless TestExecution.recent.empty? %>
    <h3>Recent test executions</h3>
    <ul class="fa-ul">
      <% TestExecution.recent.each do |te| %>
          <li>
            <i class="fa-li fa fa-caret-right"></i><%= link_to("#{te.test_plan.name} executed at #{I18n.localize(te.created_at, :format => :short)}", te) %>
          </li>
      <% end %>
    </ul>
    <%= link_to "more", test_executions_path %>
<% else %>
    <h3>Recent test executions</h3>
    <% if controller_name == "test_plans" && action_name == "show" %>
        This script has not yet been executed. Maybe you want to give it a try <i class="fa fa-smile-o"></i>
    <% else %>
        None yet <i class="fa fa-meh-o"></i>
    <% end %>
<% end %>
