<% if projects.any? %>
    <div class="list-group">
        <% projects.each do |project| %>
            <a href="<%= project_path(project) %>" class="list-group-item">
              <%= project.name %>
              <span class="pull-right"><i class="fa fa-angle-right"></i></span>
            </a>
        <% end %>
    </div>
<% else %>
    None
<% end %>
