<% content_for :page_header do %>
    <h3>
      Projects List
    </h3>
<% end %>

<%= raw htmltable_for @projects, { :actions => {:show => true, :edit => true}} %>

<br>

<%= link_to 'New Project', new_project_path %>
