.container {
  margin-bottom: 50px;
}

.spacer {
  margin-top: 40px; /* define margin as you see fit */
}

/* tablebakery */
.table .actions a {
  margin-right: 3px;
}

/* at least two actions should fit in, otherwise table breaks */
.table .actions {
  min-width: 130px;
}

/* stats tables */
.table.stats {
  margin-bottom: 0 !important;
}
.table.stats tbody > tr:first-child > td { border-top: none; }
.table.stats tr > td:first-child {
  font-weight: bolder;
}
.table.stats tr > td:nth-child(2) span {
  /* same style as bootstrap's code */
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}


// multiselect
.multiselect[multiple=multiple] {
  width:440px;
  height:430px;
}

