.container {
  margin-bottom: 50px;
}

.spacer {
  margin-top: 40px; /* define margin as you see fit */
}

/* tablebakery */
.table .actions a {
  margin-right: 3px;
}

/* at least two actions should fit in, otherwise table breaks */
.table .actions {
  min-width: 130px;
}


// multiselect
.multiselect[multiple=multiple] {
  width:440px;
  height:430px;
}

