
<button class="btn btn-default pull-right display_options" data-placement="bottom">
    <i class="glyphicon glyphicon-cog"></i>
</button>

<div id="popover_content_container" class="hidden">

  <div id="display_options_popover">
      <h5>Display settings</h5>
      <div class="checkbox checkbox-circle">
        <input type="checkbox" id="checkbox_stdout" checked>
        <label for="checkbox_stdout">STDOUT</label>

        <br>

        <input type="checkbox" id="checkbox_stderr" checked>
        <label for="checkbox_stderr">STDERR</label>

        <br>

        <input type="checkbox" id="checkbox_markup" checked>
        <label for="checkbox_markup">executable markup</label>

        <br>

        <input type="checkbox" id="checkbox_markup_raw" checked>
        <label for="checkbox_markup_raw">raw markup</label>
      </div>
  </div>
</div>