<div class="btn-group pull-right">

  <button class="btn btn-default display_options" data-placement="bottom">
    <i class="glyphicon glyphicon-cog"></i>
  </button>

  <!--add help for cron syntax, may copy from http://help.sap.com/saphelp_xmii120/helpdata/en/44/89a17188cc6fb5e10000000a155369/content.htm-->
</div>


<div id="popover_content_container" class="hidden">
  <div id="display_options_popover">
    show STDOUT
    show STDERR
    show origin markup
    show prepared markup
  </div>
</div>