
 <div class="panel panel-default">
    <div class="panel-body">
        Base URL <% if item.test_plan.base_url %><code><%= item.test_plan.base_url %></code><% else %><code>not set</code><% end %><br>
    </div>
</div>