<div class="panel panel-default">
  <div class="panel-body">

    Requested by
    <% if @test_execution.user_id %>
        <% user = User.find_by_id @test_execution.user_id %>
        <%= link_to raw(gravatar_image_tag(user.email, :class => "gravatar-s", :gravatar => {:size => 16})) + user.username,
                    user %>
    <% else %>
        <code>unknown user</code>
    <% end %>
    <%= precise_distance_of_time_in_words(Time.now, @test_execution.created_at) %> ago
    <table class="table table-condensed stats">

    </table>
  </div>
</div>