
 <div class="panel panel-default">
    <div class="panel-body">
      Base URL <% if item.test_plan.base_url %><code><%= item.test_plan.base_url %></code><% else %><code>not set</code><% end %><br>
      Requested by
        <% if @test_execution.user_id %>
            <% user = User.find_by_id @test_execution.user_id %>
            <%= link_to raw(gravatar_image_tag(user.email, :class => "gravatar-s", :gravatar => {:size => 16})) + user.username,
                        user %>
        <% else %>
            <code>unknown user</code>
        <% end %>
        <%= precise_distance_of_time_in_words(Time.now, @test_execution.created_at) %> ago
      <br>



    </div>
</div>