<% if @system.cidr or @system.fqdn or @system.sshuser %>
    <h4 class="spacer">Host Information</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-condensed stats">
          <% if @system.fqdn %>
              <tr>
                <td class="col-md-6">FQDN</td>
                <td class="col-md-6"><span><%= @system.fqdn %></span></td>
              </tr>
          <% end %>
          <% if @system.cidr %>
              <tr>
                <td class="col-md-6">Network address</td>
                <td class="col-md-6"><span><%= @system.cidr %></span></td>
              </tr>
          <% end %>
          <% if @system.sshuser %>
              <tr>
                <td class="col-md-6">SSH User</td>
                <td class="col-md-6"><span><%= @system.sshuser %></span></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
<% end %>