
    <a href="/services/<%= rs.service.id %>" class="list-group-item">
      <h5 class="list-group-item-heading">
        <%= badge_label rs.service, {:label_class => 'primary'} %>
      </h5>
      <p class="list-group-item-text">
        <%= "<strong>FQDN: </strong>#{rs.service.fqdn}" unless rs.service.fqdn.nil? %>
      </p>
    </a>
