
<% if @system.description or @system.operating_system or @system.operating_system_flavor %>
    <h3 class="spacer">System Information</h3>
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body">
            <% if @system.description %>
                <blockquote><%= @system.description %></blockquote>
            <% end %>
            <table class="table table-condensed stats">
              <% if @system.operating_system or @system.operating_system_flavor %>
                  <tr>
                    <td class="col-md-6">OS</td>
                    <td class="col-md-6"><span><%= @system.operating_system %><%= "(#{@system.operating_system_flavor})" if @system.operating_system_flavor %></span></td>
                  </tr>
              <% end %>
            </table>
          </div>
        </div>
    </div>
<% end %>