
<% if @system.description or @system.operating_system or @system.operating_system_flavor %>
    <h3 class="spacer">Host Information</h3>
    <%= basic_info_panel @system %>
<% end %>

<% if @system.cidr or @system.fqdn or @system.sshuser %>
    <h3 class="spacer">Network Information</h3>
    <%= network_info_panel @system %>
<% end %>