
<% if @system.description or @system.operating_system or @system.operating_system_flavor %>
    <h3 class="spacer">System Information</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <% if @system.description %>
                <blockquote><%= @system.description %></blockquote>
            <% end %>
          <% if @system.operating_system or @system.operating_system_flavor %>
          <p>
              <strong>OS</strong>
                <code class="pull-right">
                  <%= @system.operating_system %>
                  <%= "(#{@system.operating_system_flavor})" if @system.operating_system_flavor %>
                </code>
          </p>
          <% end %>
        </div>
    </div>
<% end %>