<h3><%= t("om.views.system.index.title") %>

<%= link_to raw('<span class="glyphicon glyphicon-plus"></span> ' + t("om.views.system.index.new_system")),
            new_system_path, :class => "btn btn-success pull-right" %>
</h3>
<!--<button class="btn btn-success btn-large"><span class="glyphicon glyphicon-plus"></span> <%= t("om.views.system.index.new_system") %></button>-->

<%= raw htmltable_for @systems, {:html_class => "spacer"} %>