<h3>
    <%= raw t('om.views.system.index.title') %>
    <%= link_to raw('<span class="fa fa-plus"></span> ' + t('om.views.system.index.new_system')),
            new_system_path, :class => 'btn btn-default pull-right' %>
</h3>


<%= raw htmltable_for @systems, { :html_class => 'spacer', :join => ['running_services'], :join_as => 'service', :actions => { :edit => true, :show => true } } %>