<div class="row">


  <!-- left column -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @system.name %></div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="col-md-6">
    <p>Consectetur art party Tonx culpa semiotics. Pinterest assumenda minim organic quis.</p>

    <p>Wayfarers selvage YOLO, commodo assumenda eu est bespoke mlkshk. Helvetica reprehenderit iPhone, aesthetic 90's
      literally chambray bicycle rights viral blog voluptate. Occupy bespoke stumptown duis keytar vero.</p>
  </div>

</div>






