<% javascript('webtest') %>

<div class="row">

  <!-- left column -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Edit TestCase</div>
      <div class="panel-body">
        <%= raw htmlform_for(@test_case, {:except => [:updated_at, :created_at, :id], :html_class => 'spacer'})
        %>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="col-md-6">
    <p>Consectetur art party Tonx culpa semiotics. Pinterest assumenda minim organic quis.</p>

    <p>Wayfarers selvage YOLO, commodo assumenda eu est bespoke mlkshk. Helvetica reprehenderit iPhone, aesthetic 90's
      literally chambray bicycle rights viral blog voluptate. Occupy bespoke stumptown duis keytar vero.</p>
  </div>

</div>






