<h3>
    TestCases
    <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> ' + "New test case"),
            new_test_case_path, :class => "btn btn-success pull-right" %>
</h3>


<%= raw htmltable_for @test_cases, {:html_class => "spacer", :actions => {:show => true, :destroy => true}} %>

