<h3>
    TestCases
    <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> ' + "New test case"),
            new_service_path, :class => "btn btn-success pull-right" %>
    <small>all</small>
</h3>


<%= raw htmltable_for @test_cases, {:html_class => "spacer", :actions => {:show => true}} %>

