<h3>Create TestCase</h3>

<div class="panel panel-default spacer">
  <div class="panel-heading">Your input</div>
  <div class="panel-body">
    <%= raw htmlform_for(@test_case, {:except => [:id, :type, :created_at, :updated_at]}) %>
  </div>
</div>

<div class="panel panel-default spacer">
  <div class="panel-heading">File import</div>
  <div class="panel-body">
    <%= render 'shared/upload_form' %>
  </div>
</div>

<h3>Snippets</h3>
<h4>Use google to search for the "answer to all questions" <%= badge("selenese", 'info') %></h4>
<%= coderay(%Q[
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="selenium.base" href="https://www.google.li/" />
  <title>answer_to_all_questions</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
  <thead>
  <tr><td rowspan="1" colspan="3">answer_to_all_questions</td></tr>
  </thead><tbody>
<tr>
  <td>open</td>
  <td>/</td>
  <td></td>
</tr>
<tr>
  <td>type</td>
  <td>q</td>
  <td>answer to all questions</td>
</tr>
<tr>
  <td>click</td>
  <td>btnG</td>
  <td></td>
</tr>
<tr>
  <td>waitForElementPresent</td>
  <td>link=42 - Wikipedia</td>
  <td></td>
</tr>
<tr>
  <td>click</td>
  <td>link=42 - Wikipedia</td>
  <td></td>
</tr>
</tbody></table>
</body>
</html>
], 'html', 'div') %>