<% content_for :page_header do %>
    <h3>
      <%= badge_label @test_case, {:label_class => 'primary'} %>
    </h3>
<% end %>

<div class="row">

    <div class="panel panel-default">
      <div class="panel-body">
        <blockquote><%= @test_case.description %></blockquote>
        <%= badge(@test_case.format, 'info') %>
        <%= coderay(@test_case.markup, @test_case.format, "div") %><br>

      </div>
    </div>


</div>






