
// full width ace editor
.form-control.ace_editor {
    width: 100% !important;
}


/* test plan styles */

//ace editor
#test_case_markup {
//  position: absolute;
  width: 500px;
  min-height: 250px;
}

ul.test_plan {
  list-style-type: none;
  margin: 0;
  padding:0;
}

ul.test_plan li {
  margin-bottom: 20px;
  //background-color: #efefef;
}

ul.test_plan li > * {
  vertical-align: middle !important;
}

/* test plan execution pointer for toggle */
.test_plan .toggle_status i {
  cursor: pointer;
}

/* popover test plan execution scheduling */
#run_options_popover {
  width: 450px;
  font-size: xx-small;
}
#run_options_popover .jqCron {
  display: block;
  margin-top: 15px;
}


/* handle like a label */
ul.test_plan li span.duration,
ul.test_plan li span.exit,{
  padding: .2em .6em .3em;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  border-radius: .25em;
}

/* margin and pointer for multiple icons within list-group-item (test_plan items)*/
li.list-group-item span.actions i.fa,
li.list-group-item span.actions i.glyphicon {
  display: inline-block;
  margin-left: 5px;
  cursor: move;
}

li.list-group-item span.actions i.remove,
li.list-group-item span.actions i.configure,
li.list-group-item span.actions i.add {
  cursor: pointer;
}

.item-number {
    position: relative;
    display: inline-block;

    z-index: 9999999999 !important;
    padding: 2px;
    font-family: Arial, verdana, tahoma;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background: #ff3019; /* Old browsers */
    background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); /* Chrome,Safari4+ */
    background:    -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* IE10+ */
    background:      -o-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Opera 11.10+ */
    background:         linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);  /* W3C */
    width: 30px;
    height:30px;
    line-height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000); /* IE10 text shadows */
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

/* test items in a ordered list, special threatment for placeholder */
ol.circles-list {
  list-style-type: none;
  counter-reset: li-counter;
}
ol.circles-list > li:not(.placeholder):before{
  content: counter(li-counter);
  counter-increment: li-counter;
  display: inline-block;
  z-index: 9999999999 !important;
  padding: 2px;
  font-family: Arial, verdana, tahoma;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  background: #ff3019; /* Old browsers */
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); /* Chrome,Safari4+ */
  background:    -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);  /* W3C */
  width: 30px;
  height:30px;
  line-height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000); /* IE10 text shadows */
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

ol.circles-list > li.placeholder {
  font-size: x-large;
  font-weight: bold;
  background-color: #eee;
  color: $darkgrey;
  text-align: center;
}
