$darkgrey: #9b9b9b;
$font-size: 14px;
$font-size-small: 12px;

@import 'core/bootstrap';
@import 'layout/fonts';
@import 'layout/layout';
@import 'coderay';
@import 'jstree/jstree';
@import 'webtest';
@import 'jqcron/jqCron';
@import 'pnotify.custom.min';


/* searchbar should expand on focus */
/*#main-search input {*/
    /*width: 350px;*/
    /*transition: width 0.75s;*/
    /*-webkit-transition: width .75s;*/
    /*-moz-transition: width 0.75s;*/
/*}*/

/*#main-search input:active,*/
/*#main-search input:focus {*/
    /*width: auto;*/


/*}*/


label {
  color: $darkgrey;
}

.checkbox > label {
  font-size: $font-size-small;
}

/* loading indicator positioning, will be show/hidden by turbolink page:fetch and page:change */
#loading-indicator {
//  display: none;
  width: 16px;
  height: 11px;
  margin-top: 18px;
}

/* gravatar images */
.gravatar-s {
    margin-right: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.gravatar-l {
  border: 1px solid #ddd;
  padding: 2px;
  margin-right: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.mono,
.monospace {
  font-family: monospace;
}

/* .css3-blink http://www.john-smith.me/emulating--lt-blink-gt--using-webkit-css3-animation */
@-webkit-keyframes blinker { from { opacity: 1.0; } to { opacity: 0.0; } } .css3-blink { -webkit-animation-name: blinker; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0); -webkit-animation-duration: 1.5s; }