
.openmetrics-banner {
    font-family: monospace;
    color: black;
    background-color: white;
    line-height: 100%;
    position: absolute;
    top: 70px;
    padding: 10px;
}

.openmetrics-banner a {
    text-decoration: none;
    /*color: orangered;*/
}

.front-box {
    margin-top:45px;

}

/* no rounded corners */
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.container { width: 628px; margin-top:42px; }

.center-block {
    width: 700px;
    border: medium double #e7e7e7;
    padding: 28px;
    margin-top: 50px;
}

/* element styles */
h3 { margin-left: 15px;}
h2 {
    margin-bottom: 42px;
}

table { width: 640px; border-spacing: 0; border-collapse: collapse; }
td { padding: 5px 10px; }

input[type='text'],
input[type='email'],
input[type='password'] {
    border-color: grey;
    border-style:none none dotted;
    border-width:medium medium 2px;
    text-align:center;
    outline: none;
    box-shadow:none !important;
}


.registrations.new input[type='text'],
.registrations.new input[type='email'],
.registrations.new input[type='password'] {
    width: 360px;
}

/*label[for=user_remember_me] {*/
    /*display: block;*/
    /*float: left;*/
    /*padding-right: 10px;*/
    /*margin-top:10px;*/
    /*white-space: nowrap;*/
/*}*/


/*label[for=user_remember_me] {*/
    /*vertical-align: top;*/
/*}*/

#devise-links {
        margin-top: 20px;
        color: slategray;
        padding: 0.7em;
        background-color: #f9f9f9;
        border-top: thin solid #e7e7e7;
}



