<!--<div class="btn-group pull-right">-->
  <!--<%= link_to(raw('<span class="glyphicon glyphicon-wrench"></span> Edit'), edit_test_plan_path(@test_plan), :class => 'btn btn-default') %>-->
  <!--<button class="btn btn-default btn-success run_test_plan" data-id="<%= @test_plan.id %>">-->
    <!--<i class="glyphicon glyphicon-play-circle"></i>-->
    <!--Run now-->
  <!--</button>-->
<!--</div>-->


<div class="btn-group pull-right">

  <%= link_to(raw('<span class="glyphicon glyphicon-wrench"></span> Edit'), edit_test_plan_path(@test_plan), :class => 'btn btn-default') %>

  <button class="btn btn-default run_test_plan" data-id="<%= @test_plan.id %>">
    <i class="fa fa-play"></i>
    Run now
  </button>

  <button class="btn btn-default run_options" data-placement="bottom">
    <i class="glyphicon glyphicon-cog"></i>
  </button>
</div>


<div id="popover_content_container" class="hidden">
  <div id="run_options_popover">
    <h3>Schedule execution</h3>
    <input class="schedule" value="55 10-12 * * 1-5">

    <h3>Schedule execution2</h3>

    <div class="schedule2"></div>

    <h3>Schedule execution4</h3>
    <div class="schedule4"></div>
    <p><span class="schedule4-span" style="color: red;"></span></p>
  </div>
</div>