<span class="btn-group btn-group-sm">
  <%= link_to t('om.controls.delete_html'), @test_plan, :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-default' %>
  <%= link_to t('om.controls.edit_html'), edit_test_plan_path(@test_plan), :class => 'btn btn-default' %>

  <button class="btn btn-default run_test_plan" data-id="<%= @test_plan.id %>">
    <span class="fa fa-play"></span> Run now
  </button>


  <!--add help for cron syntax, may copy from http://help.sap.com/saphelp_xmii120/helpdata/en/44/89a17188cc6fb5e10000000a155369/content.htm-->
</span>


<div id="popover_content_container" class="hidden">
  <div id="run_options_popover">
    <h3>Schedule execution</h3>
    <input class="schedule" value="55 10-12 * * 1-5">

    <h3>Schedule execution2</h3>

    <div class="schedule2"></div>

    <h3>Schedule execution4</h3>
    <div class="schedule4"></div>
    <p><span class="schedule4-span" style="color: red;"></span></p>
  </div>
</div>