<span class="btn-group btn-group-sm pull-right">

  <%= link_to(raw('<span class="glyphicon glyphicon-wrench"></span> Edit'), edit_test_plan_path(@test_plan), :class => 'btn btn-default') %>

  <button class="btn btn-default run_test_plan" data-id="<%= @test_plan.id %>">
    <i class="fa fa-play"></i>
    Run now
  </button>

  <button class="btn btn-default run_options" data-placement="bottom">
    <i class="fa fa-clock-o"></i>
    Run scheduled
  </button>

  <!--add help for cron syntax, may copy from http://help.sap.com/saphelp_xmii120/helpdata/en/44/89a17188cc6fb5e10000000a155369/content.htm-->
</span>


<div id="popover_content_container" class="hidden">
  <div id="run_options_popover">
    <h3>Schedule execution</h3>
    <input class="schedule" value="55 10-12 * * 1-5">

    <h3>Schedule execution2</h3>

    <div class="schedule2"></div>

    <h3>Schedule execution4</h3>
    <div class="schedule4"></div>
    <p><span class="schedule4-span" style="color: red;"></span></p>
  </div>
</div>