<div class="page-header">
  Test Plan Actions &amp; Input
</div>
<%= render partial: 'controls' %>

<div class="panel panel-default spacer">
  <div class="panel-body">
    Base URL <code><%= @test_plan.base_url %></code>
  </div>
</div>

