<h4>Test Cases</h4>
<ul class="test_cases_list list-group">
    <% @test_cases.each do |item| %>
      <li class="list-group-item" data-test_case="<%= item.id %>">
        <span class="actions pull-right">
          <i class="drag fa fa-arrows"></i>
          <!--<i class="add fa fa-plus" title="Add"></i>-->
        </span>
        <%= link_to badge("TC-#{item.id}", 'primary') + " #{item.name}", item %>
      </li>
    <% end %>
</ul>

<h4>Test Scripts</h4>
<ul class="test_scripts_list list-group">
  <% @test_scripts.each do |item| %>
      <li class="list-group-item" data-test_script="<%= item.id %>">
        <span class="actions pull-right">
            <i class="drag fa fa-arrows"></i>
            <!--<i class="add fa fa-plus" title="Add"></i>-->
        </span>
        <%= link_to badge("TC-#{item.id}", 'primary') + " #{item.name}", item %>
      </li>
  <% end %>
</ul>

