<div id="jstree_demo_div">
  <ul>
    <li data-jstree='{"opened":true,"selected":true}'>Root
      <ul>
        <li>Child</li>
        <li>Child</li>
        <li data-jstree='{"icon":"glyphicon glyphicon-leaf"}'>
          Child
        </li>
      </ul>
    </li>
    <li>Root node 3
      <ul>
        <li>Child node 1</li>
        <li><a href="#">Child node 2</a></li>
      </ul>
    </li>
  </ul>
</div>