<h4 class="spacer">Projects</h4>
<% if test_projects.any? %>
<ul>
<% test_projects.each do |tp| %>
    <li><%= link_to tp.project.name, project_path(tp.project) %></li>
<% end %>
</ul>
<% else %>
This Test Plan is not included in any Project.
<% end %>

