<h3>Test Item Browser</h3>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="form-group">
      <input id="searchinput" class="form-control" type="search" placeholder="Filter..." />
    </div>

    <h4>Test Cases</h4>
    <ul id="test_cases_searchlist" class="test_cases_list list-group">
        <% @test_cases.each do |item| %>
          <li class="list-group-item" data-test_case_id="<%= item.id %>">
            <span class="actions pull-right">
              <i class="drag fa fa-arrows"></i>
              <!--<i class="add fa fa-plus" title="Add"></i>-->
            </span>
            <%= link_to badge("TC-#{item.id}", 'primary') + " #{item.name}", item %>
          </li>
        <% end %>
    </ul>


    <h4>Test Scripts</h4>
    <ul id="test_scripts_searchlist" class="test_scripts_list list-group">
      <% @test_scripts.each do |item| %>
          <li class="list-group-item" data-test_script_id="<%= item.id %>">
            <span class="actions pull-right">
                <i class="drag fa fa-arrows"></i>
                <!--<i class="add fa fa-plus" title="Add"></i>-->
            </span>
            <%= link_to badge("TS-#{item.id}", 'primary') + " #{item.name}", item %>
          </li>
      <% end %>
    </ul>

  </div>
</div>