<div id="jstree_demo_div">
  <ul>
    <li data-jstree='{"opened":true}'>Test Cases
      <ul>
        <% @test_cases.each do |item| %>
        <li data-jstree='{"icon":"fa fa-file-text-o"}'><%= item.name %></li>
        <% end %>
      </ul>
    </li>

    <li data-jstree='{"opened":true}'>Test Scripts
      <ul>
        <% @test_cases.each do |item| %>
            <li data-jstree='{"icon":"fa fa-file-code-o"}'><%= item.name %></li>
        <% end %>
      </ul>

    </li>
  </ul>
</div>
