<% javascript 'webtest' %>

<div class="row">
  <!-- left column -->
  <div class="col-md-8">

    <h3>Test Plan Steps</h3>
    <%= render partial: 'test_plan_edit', locals: {tp: @test_plan} %>

    <div class="panel panel-default">
      <div class="panel-heading">Edit Testplan</div>
      <div class="panel-body">
        <%= raw htmlform_for @test_plan, {:html_class => 'spacer', :except => [:id, :user_id, :slug, :created_at, :updated_at] } %>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="col-md-4">
    <h3>Test Items</h3>
    <p>Consectetur art party Tonx culpa semiotics. Pinterest assumenda minim organic quis.</p>

    <%= render 'test_item_browser' %>
  </div>

</div>






